@import "bootstrap/scss/functions";


$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$border-color: $gray-800;// Why here? because scss var assignment is not retroactive
$body-bg: $gray-900;
$body-color: $gray-300;
$input-color: $gray-200;
$btn-close-color: $gray-100;


@import "bootstrap/scss/variables";

$table-bg-scale: +50%;

$table-variants: (
  "primary":    shift-color($primary, $table-bg-scale),
  "secondary":  shift-color($secondary, $table-bg-scale),
  "success":    shift-color($success, $table-bg-scale),
  "info":       shift-color($info, $table-bg-scale),
  "warning":    shift-color($warning, $table-bg-scale),
  "danger":     shift-color($danger, $table-bg-scale),
  "light":      $light,
  "dark":       $dark,
);

$list-group-color: white;
$list-group-bg: shift-color($dark, +0%);
$list-group-border-color: rgba($white, .125);
$list-group-item-bg-scale: +50%;
$list-group-item-color-scale: -20%;


$modal-content-color: white;
$modal-content-bg: $dark;
$modal-content-border-color: $black;
$input-placeholder-color: $gray-500;

$form-file-button-bg: $gray-900;
$form-file-button-hover-bg: shade-color($form-file-button-bg, 20%);
